.swiperContainer {
  /* border: 2px solid red; */
  width: 100%;
  max-width: 480px;
  height: 500px;
  max-height: 630px;
  margin: 0 auto;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente o Swiper */
  align-items: center;
  margin-top: 30px;

}


.mySwiper {
  width: 100%;
  max-width: 1200px; /* Limita a largura para centralizar melhor */
  overflow: hidden;
  border-radius: 8px;
}

.mySwiper img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center; /* CENTRALIZA a imagem dentro do slide */
  display: block;
}

@media(min-width: 1280px){

}
