.container_youtube{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
}

.container_youtube h2{
    text-align: center;
    margin-top: 50px;
}

iframe{
    width: 100%;
    max-width: 768px;
    height: auto;
    aspect-ratio: 16 / 9;
}