.componente_galeria{
    /* border: 2px solid blue; */
    width: 100%;
    padding-block: 30px;
}
   

.componente_galeria h3{
    font-size: 2rem;
    margin-bottom: 20px;
}

.container_galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 10px;
}


.container_galeria img{
    width: 100%;
    height: 350px;
    max-width: 280px;
    object-fit: cover;
    box-shadow: 0px 5px 12px black;
}

@media(min-width:768px){
    .container_galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 35px;
}
}