.componente_galeria{
    /* border: 2px solid blue; */
    width: 100%;
    padding-block: 30px;
}
   

.componente_galeria h3{
    font-size: 2rem;
    margin-bottom: 20px;
}

.container_galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 50px;
}

.container_album{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed black;
    padding: 15px;
    box-shadow: 0px 5px 12px black;
    text-decoration: none;
    color: black;   
}

.container_album span{
    margin-bottom: 15px;
}

.container_album img{
    width: 100%;
    height: 350px;
    max-width: 245px;
    object-fit: cover;
    box-shadow: 0px 5px 12px black;
    border-radius: 10px;
}


@media(min-width:768px){
    .container_galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 35px;
}

.container_album span{
    font-weight: lighter;
}
}