.page_album{
  /* border: 2px solid red; */
  padding: 5%;
  width: 100%;
  max-width: 1024px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: relative;
}


.container_page_album{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
    align-items: center;
    padding: 15px;
}


.foto_pequena{
    width: 100%;
    height: 350px;
    max-width: 245px;
    object-fit: cover;
    box-shadow: 0px 5px 12px black;
    border: 2px dashed black;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
}

.foto_ampliada{
    position: fixed;
    width: 90%;
    height: 500px;
    max-width: 768px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    border-radius: 15px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.header{
    /* border: 1px solid red; */
    background: linear-gradient(to right, #ffffff, #b3b3ff, #0000ff);
    position: relative;
    /* position: fixed; */
    width: 100%;
    /* max-width: 1024px; */
    top: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    z-index: 998;
}

.navbar{
    /* border: 4px solid pink; */
    display: flex;
    justify-content: space-between;
    padding-inline: 5%;
    width: 100%;
    margin: 0 auto;
}

.logo{
  object-fit: contain;
  height: 120px;
}

.navbar .btn{
    /* border: 1px solid red; */
    text-decoration: none;
    align-self: start;
    color: #ffffff;
    border: none;
    border-bottom: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 50px;
    font-weight: bold;
}

.navbar .btn:hover{
    border-bottom: 2px solid  #ffffff;
    box-shadow: 0px 0px 10px  #ffffff;
}

@media (min-width: 480px) {/* celularesmaiores */
    .navbar ul .btn, .navbar .btn{
        font-size: 1rem; /*(16px)*/
    }
}

@media (min-width: 768px) {/* tablets */
    .header{
        background: linear-gradient(to right, #ffffff 0%, #b3b3ff 25%, #0000ff 60%);
    }

    .logo{
        height: 120px;
    }
}

@media (min-width: 1024px) {/* notebooks */  
    .navbar ul .btn, .navbar .btn{
    font-size: 1.125rem; /*(18px)*/
    }

       .container_menu_desktop ul{
        /* border: 1px solid red; */
        justify-content: end;
        margin-right: 30px;
    }  
}

@media (min-width: 1280px) {/* desktops grandes */
    .navbar ul .btn, .navbar .btn{
    font-size: 1.25rem; /*(20px)*/
    }
}


@media(min-width:768px){
    .container_galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 35px;
}

.foto_ampliada{
    width: 70%;
}

}