.footer {
  width: 100%;
  background: linear-gradient(to right, #ffffff, #b3b3ff, #0000ff);
  color: #f0f0f0;
  display: flex;
  flex-flow: column;
  padding: 15px 20px;
  padding-inline: 5%;
}

.footer p{
    color: black;
}

.info {
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: space-between;
  gap: 0.25rem;
  width: 100%;

}

.email{
  color: blue;
  transition: all 0.3s ease;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.whats{
    color: green;
}

.instagram{
    color: pink;
}

.youtube{
    color: red;
}

.email:hover{
  text-shadow: 0 0 6px #0ff;
  color: #0ff;
  cursor: pointer;
}

.links {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  justify-content: start;
  margin-bottom: 10px;
}

.links a {
  color: black;
  font-size: 1.8rem;
  transition: transform 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.links a:hover {
  border-bottom: 2px solid black;
}

.links a span{
  font-size: 18px;
}

 .textofooter{
  font-size: 18px;
  text-align: start;
 }

 @media(min-width: 768px){
  .links a span{
  font-weight: lighter;
}
 }


